/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# React/TypeScript specific
*.tsbuildinfo             # TypeScript incremental build information
*.log                     # Log files
.vscode/                  # Visual Studio Code configuration files
.idea/                    # IDE specific files (e.g., WebStorm, PhpStorm)
.DS_Store                 # macOS specific file
/dist/                    # Distribution folder (if applicable)
/build/                   # React build directory (if applicable)

# Other specific to your environment
/phpunit.cache
/public/build
.phpactor.json
.env.backup
.env.production
/.fleet
auth.json
